name: Publish Draft Release

on:
  workflow_dispatch:
    inputs:
      release_id:
        description: 'ID of the draft release to publish'
        required: true
        type: string

jobs:
  publish_release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Publish Draft Release
        id: publish_release
        run: gh release edit '${{ github.event.inputs.release_id }}' --draft=false
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
